
@{
    ViewData["Title"] = "Beneficiarios";
}
    <div>
        <div class="container">
            <h1>Beneficiarios</h1>
            <ul>

                <li> <a asp-controller="Transactions" asp-action="AddBeneficiaries">Agregar Beneficiarios</a></li>
                <li><a asp-controller="Home" asp-action="Index">Actualizar Beneficiarios</a></li>
                <li><a asp-controller="Home" asp-action="Index">Eliminar Beneficiarios</a></li>
            </ul>

        </div>
    </div>